{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'homeview' %}">خانه</a></li>
                            <li>ورود</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="login_page_bg">
        <div class="container">
            <div class="customer_login">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-6 col-md-6">
                        <div class="account_form login">
                            <h3><a href="{% url 'registerview' %}" > حساب کاربری ندارم</a></h3>
                            <form action="{% url 'loginview' %}" method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit">ورود</button>
                                {% comment %} <button><a href="{% url 'reset_password' %}">رمز خود را فراموش کرده ام</button> {% endcomment %}
                                <!-- </div> -->
                                {% comment %} <button><a href="{% url 'registerview' %}"> حساب کاربری ندارم</a></button> {% endcomment %}
                            </form>
                            
                        </div>
                    </div>
                    <!--login area start-->

                </div>
            </div>
        </div>
    </div>
{% endblock %}