{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'homeview' %}">خانه</a></li>
                            <li>تغییر رمز</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- customer login start -->
    <div class="login_page_bg">
        <div class="container">
            <div class="customer_login">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-6 col-md-6">
                        <div class="account_form login">
                            <h3>تغییر رمز عبور</h3>
                            <form method="POST">
                                {% csrf_token %}
                                {% comment %} {{form.as_p}} {% endcomment %}

                                {% for field in form %}
                                    <div class="fieldWrapper">
                                        {{ field.errors }}
                                        <label for="email">ایمیل: {{ field }} </label>
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %} 
                                <button type="submit" name="Password reset">تغییر رمز عبور</button>
                            </form>
                            
                        </div>
                    </div>
                    <!--login area start-->

                </div>
            </div>
        </div>
    </div>
{% endblock %}
