{% extends 'base.html' %}
{% block body %}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'homeview' %}">خانه</a></li>
                        <li>ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <br>
                        <h2>ثبت نام</h2>
                        <form action="{% url 'registerview' %}" method="POST">
                            {% csrf_token %}
                            {{formregister.as_p}}
                            <button type="submit">ثبت نام</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}







