{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'homeview' %}">خانه</a></li>
                            <li>سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shopping cart area start -->
    <div class="cart_page_bg">
        <div class="container">
            <div class="shopping_cart_area">
                <form action="#">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product_remove">حذف</th>
                                                <th class="product_thumb">تصویر</th>
                                                <th class="product_name">محصول</th>
                                                <th class="product-price">قیمت</th>
                                                <th class="product_quantity">تعداد</th>
                                                <th class="product_total">جمع</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for c in cart %}
                                            {% if total_price %}
                                            <tr>
                                                
                                                <td class="product_remove"><a href="" id="delete_api_cart" onclick="delete_api_cart('{{ c.6 }}')"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="#"><img src="{{c.1.url}}" alt=""></a></td>
                                                <td class="product_name"><a href="{% url 'productview' c.0 %}">{{c.0}}</a></td>
                                                <td class="product-price">{{c.3}}</td>
                                                <td class="product_quantity">
                                                    <label> تعداد  

                                                        <input value="{{c.2}}" type="text">
                                                        <a onclick="add_api_cart2('{{ c.5 }}')" id="add_api_cart2">
                                                            <svg xmlns="http://www.w3.org/2000/svg"  width="25" height="25" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                                                            </svg>
                                                        </a>
                                                        <a onclick="delete_api_cart_input('{{ c.5 }}')" id="add_api_cart_input">
                                                            <svg xmlns="http://www.w3.org/2000/svg"  width="25" height="25" fill="currentColor" class="bi bi-bag-dash-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                                                            </svg>
                                                        </a>
                                                    </label>
                                                    {% comment %} <i class="bi bi-bag-plus-fill"></i>
                                                    <i class="bi bi-bag-dash-fill"></i>        {% endcomment %}
                                                </td> 
                                                <td class="product_total">{{c.4}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% comment %} {% for c in cart %}
                                            {% if c.count != 0 %}
                                            <tr>
                                                
                                                <td class="product_remove"><a href="" id="delete_api_cart" onclick="delete_api_cart('{{ c.id }}')"><i class="fa fa-trash-o"></i></a></td>
                                                <td class="product_thumb"><a href="#"><img src="{{c.id_product.image.url}}" alt=""></a></td>
                                                <td class="product_name"><a href="#">{{c.id_product.ProductName}}</a></td>
                                                <td class="product-price">{{c.id_product.price}}</td>
                                                <td class="product_quantity"><label>تعداد </label> <input min="1" max="100" value="{{c.count}}" type="number"></td>
                                                <td class="product_total">{{c.total_price}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %} {% endcomment %}
                                        </tbody>

                                        
                                    </table>
                                    
                                </div>
                                
                                <div class="cart_submit">
                                    <a onclick="update_cart()" id="update_cart" style="background: #1B2052;box-shadow: none;color: #ffffff;display: inline-block;height: 45px;line-height: 45px;padding: 0 22px;font-size: 13px;border-radius: 3px;"> به روز رسانی سبد </a>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code left">
                                    <h3>کد تخفیف</h3>
                                    <div class="coupon_inner">
                                        <p>امکان اعمال کد تخفیف بزودی</p>
                                        {% comment %} <input placeholder="کد تخفیف" type="text"> {% endcomment %}
                                        {% comment %} <button type="submit">اعمال کد تخفیف</button> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>مجموع سبد</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>جمع جزء</p>
                                            <p class="cart_amount">{{total_price}}</p>
                                        </div>
                                        {% comment %} <div class="cart_subtotal">
                                            <p>حمل و نقل</p>
                                            <p class="cart_amount">20,000 تومان</p>
                                        </div> {% endcomment %}
                                        {% comment %} <a href="#">محاسبه هزینه</a> {% endcomment %}

                                        {% comment %} <div class="cart_subtotal has-border">
                                            <p>جمع</p>
                                            <p class="cart_amount">362,000 تومان</p>
                                        </div> {% endcomment %}
                                        <div class="checkout_btn">
                                            <a id="payment">پرداخت</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
    
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
            }
        function send_payment(){
            console.log("test")
                let cookie = getCookie('csrftoken');
                $.post("{% url 'request_payment' %}",
                    {
                        amount: "{{ show_sabad }}",
                        csrfmiddlewaretoken: cookie
    
                    },
                    function(data, status){
    
                        {#location.reload();#}
                        console.log(data);
                        window.location = "https://www.zarinpal.com/pg/StartPay/"+ data.authority;
                        {#$("#message").toggle(1000);#}
                        {#$("#message").hide(1000);#}
    
                    }
                );
            }
            let pay_btn = document.getElementById("payment");
            pay_btn.addEventListener("click", send_payment);
            function refresh_cart(){
            location.reload()
            }

    </script>
    <!--shopping cart area end -->
    
{% endblock body %}